body{
	background-color: #e4e4e4;
}
.titulo{
	margin-top: 50px;
	text-align: center;
}
.margen{
	margin-top: 50px;
}
.altura{
	height: 500px;
}
.texto{
	margin-top: 50px;
	width: 70%;
}
.pie{
	background-color: #2a2a2a;
	color: white;
	margin-top: 50px;
}